:root{
  --bg-root: linear-gradient(
    245.59deg,
    #07ae23 0%,
    #37763d 28.53%,
    #133c17 75.52%);
    --my-07:#07ae23;
    --ul:#4d9559;
   --li-hover: rgba(84, 223, 176, 0.432);
--wh:#ff17e0d9;
    --nav:#133c1793;
}
.active{
  --bg-root: #000000d6;
  --my-07:#767272;
  --ul:#4b4c4b;
  --li-hover:#eeeeee9d;
  --wh:#fff156cb;

      --nav:#000000;

}
::selection {
  color:var(--wh);
}


* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: antiquewhite;
}
.navlist {
  display: flex;
}
.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
}
#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-root);
  
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section {
  padding: 0 15%;
}
.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}
.hero-text h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.hero-text p {
  color: whitesmoke;
  font-size: 15px;
  line-height: 1.85;
  margin-bottom: 40px;
}
.hero-img img {
  width: 500px;
  height: auto;
}
.hero-text a {
  display: inline-block;
  color: white;
  background: var(--my-07);
  border: 1px solid transparent;
  padding: 16px 30px;
  line-height: 2.5;
  font-size: 14px;
  font-weight: 500;
  border-radius: 28px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}

.hero-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.hero-text a.ctaa {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.hero-text a.ctaa i {
  vertical-align: middle;
  margin-left: 5px;
}
.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY();
}
.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.icons i:hover {
  color: var(--ul);
  transform: translateY(-5px);
}
.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;
}
.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  color: white;
  background: var(--ul);
  border-radius: 30px;
  transition: all 0.5s ease;
}
.scroll-down i:hover {
  transform: translateY(-5px);
}
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  .scroll-down {
    right: 3%;
    transition: 0.2s;
  }
}
@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}
@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
  .hero-text h5 {
    margin-bottom: 25px;
  }
}
@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
  .scroll-down {
    display: none;
  }
}
@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 45vh;
    background: var(--ul);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.6s ease;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open {
    right: 0;
  }
}
@media (max-width: 690px) {
  .hero-img img {
    width: 100%;
    height:auto;
  }
}
@media (max-width:400px) {
  .hero{
      overflow-x: hidden;

  }
 .logo {
  font-size: medium;
 }
#menu-icon{
  margin-right: 1.8rem;
  font-size: medium;
      
 }
 .navlist{
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  width: 15rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 100;
 }
 .navlist a{
  transition: all ease 0.8s;
 }
 header{
  background-color: var(--nav);
 }
 .navlist li{
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* background-color: red; */
  width: 170px;
  /* margin-left: -26px; */
  transition: all ease 0.1s;
 }
 .navlist li:hover{
  background-color:var(--li-hover) ;
  border-radius: 9px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }
 .navlist li:hover a {
  color: black;
  border-bottom: 2px solid rgb(0, 0, 0);
  scale: 1.1;
  
 }
 .navlist a{
  
  /* line-height: 9rem; */

  display: block;
  /* background-color: aqua ; */
 }
 .hero-text h1{
  font-size: 4rem;
  text-align: center;
  
 }
 .hero-text a{
  font-size:18px;
  padding: 5px;
  
 }
 .hero-text a:hover{
  scale: 1.2;
  border: 2px solid #07AE23;
  background-color: #67ff8d99;
  color: black;
 }

 ::selection {
  color:var(--wh);
}
}